<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<stringAttribute key="bad_container_name" value="/digit-frequency-analysis-service-impl/src/testIntegration/resources"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/digit-frequency-analysis-service-impl/src/testIntegration/java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="2"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DOCUMENT_SERVICE_SECRET" value="${DOCUMENT_SERVICE_SECRET}"/>
<mapEntry key="LABS_INTEGRATION_TESTS_PASSWORD" value="${LABS_INTEGRATION_TESTS_PASSWORD}"/>
<mapEntry key="LABS_INTEGRATION_TESTS_SECRET" value="${LABS_INTEGRATION_TESTS_SECRET}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=digit-frequency-analysis-service-impl/src\/testIntegration\/java"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="digit-frequency-analysis-service-impl"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
</launchConfiguration>
